Cannot load a gzipped JSON trace with multiple blocks

Perfetto trace loader doesn't support "FEXTRA" multi-block gzip files. How to reproduce:

1. Install `https://github.com/vinlyx/mgzip`
2. Take any exiting JSON trace
3. Code
```python
with open("trace.json") as fin:
    with mgzip.open("trace.json.gz", "wt", thread=8, blocksize=1 << 16) as fout:
        while buffer := fin.read(1 << 16):
            fout.write(buffer)
```
4. For example,
```
../trace_processor --httpd trace.json.gz
JSON trace file is incomplete
```
5. This will work:
```
gzip -d trace.json.gz
gzip trace.json
../trace_processor --httpd trace.json.gz
```

Why does this weird gzip format property matter to me? We, 100B-parameter base LLM trainers in PyTorch, deal with a few hundred megs of profile that require considerable time to compress every few minutes, so compressing them on 192 available CPU cores gives a considerable benefit.

We use zlib to implement decompression. If there's a way to configure zlib to read these gzip streams, happy to add support. Otherwise, we would not be able to fix this as it's just a bit too niche to justify adding to trace processor. 

We'd need someone to spend a bit of time to figure out tho how to configure zlib to read this though and doubly helpful if this can be contributed as it's a very self contained issue. 

Thanks @LalitMaganti 
I will post my investigation intermediates and work in this issue, and hopefully engineer a PR sooner or later.
For now, I found this: https://stackoverflow.com/questions/65188890/what-gzip-extra-field-subfields-exist

`gzip` decompression happens here: https://github.com/google/perfetto/blob/master/src/trace_processor/importers/gzip/gzip_trace_parser.cc

In practice, the use of zlib happens in https://github.com/google/perfetto/blob/master/src/trace_processor/util/gzip_utils.cc

This is what I learned today:

- The missing feature is support concatenated gzip streams, which is a part of [RFC1952 section 2.2](https://www.ietf.org/rfc/rfc1952.txt).

> A gzip file consists of a series of "members" (compressed data sets).

- node.js had to solve exactly same problem back in 2016: https://github.com/nodejs/node/issues/4306 https://github.com/nodejs/node/pull/5120

- This is really a bugfix for RFC-compliant gzip support.

Therefore, I would change code inspired by node.js

```c++
case Z_STREAM_END:
    return Result{ResultCode::kEof, out_size - z_stream_->avail_out};
```

to

```c++
case Z_STREAM_END:
    if (next two bytes at offset out_size - z_stream_->avail_out are magic 0x1f 0x8b) {
        // next stream detected
        return Result{ResultCode::kOk, out_size - z_stream_->avail_out};
    } else {
        return Result{ResultCode::kEof, out_size - z_stream_->avail_out};
    }
```

Approach seems good to me in that case, patches adding support for this are welcome: please follow https://perfetto.dev/docs/contributing/getting-started#contributing

https://android-review.googlesource.com/c/platform/external/perfetto/+/3250056

https://r.android.com/3250057 should solve the edge case I point out in your change :)